body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display: flex;
  gap: 30px;
  /* background-color: aqua; */
  justify-content: space-between;
}

.boldWhiteClass {
  color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  margin: 190px;
}

.appliedTo {
  color:aliceblue;
  text-align: end;
  border: 3px solid white;
  display:inline;
}
.receivedOffer {
  color: aliceblue;
  text-align: end;
  border: 3px solid white;
  display: inline;
}

.interviewScheduled {
    color: aliceblue;
    text-align: end;
    border: 3px solid white;
    display: inline;
    justify-content: space-between;
  }

    .beenDenied {
      color: aliceblue;
      text-align: end;
      border: 3px solid white;
      display: inline;
      justify-content: space-between;
    }

    .tabButtons {
      background-color: black;
      color: white;
      font-size: large;
      border-radius: 4px;
      cursor: pointer;
      border-color: aliceblue;
    }